@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.catalog {
  padding-block: functions.responsive-value(8, 16) functions.responsive-value(16, 20);

  // .catalog__inner
  &__inner {
    @media (min-width: #{1024 + 0.1px}) {
      grid-template-columns: 166px 1fr;
      display: grid;
      gap: 16px;
      align-items: start;
    }
  }
}

.filter {
  .catalog__inner > movable-element > & {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .wrapper > movable-element > & {
    @media (min-width: #{1024 + 0.1px}) {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    position: fixed;
    inset: auto;
    inset-block-start: functions.responsive-value(20, 16);
    inset-inline: 10px;
    z-index: 125;
    display: block;
    inline-size: auto;
    block-size: auto;
    max-block-size: calc(100% - #{functions.responsive-value(20, 16)} * 2);
    border-radius: 16px;
    pointer-events: all;
    overflow: auto;

    body:has(&:popover-open) {
      overflow: hidden;
    }

    &:not(:popover-open) {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-150%);

      &::backdrop {
        background-color: rgba($color: variables.$color-141414, $alpha: 0);
      }
    }

    &::backdrop {
      position: fixed;
      inset: 0;
      background-color: rgba(variables.$color-141414, 0.5);

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: visibility, opacity, transform;
      transition-duration: 0.3s;
    }
  }

  @media (min-width: #{1024 + 0.1px}) {
    padding-block-start: 4px;
  }

  // .filter__top
  &__top {
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-block-end: functions.responsive-value(8, 6);

    @media (max-width: 1024px) {
      min-block-size: 36px;
      padding-block: 5px;
      padding-inline: 12px;
      background-color: variables.$color-white;
      border-radius: 100px;
    }
  }

  // .filter__close
  &__close {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-8f8f8f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    @media (min-width: #{1024 + 0.1px}) {
      display: none;
    }
  }
}

.filter-title {
  display: flex;
  align-items: center;
  gap: functions.responsive-value(8, 4);
  font-weight: 500;
  font-size: functions.responsive-value(18, 14);
  line-height: 1.56;
  color: variables.$color-1d1d1d;

  // .filter-title__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-black;

    // .filter-title__icon--mobile
    &--mobile {
      @media (min-width: #{1024 + 0.1px}) {
        display: none;
      }
    }

    // .filter-title__icon--desktop
    &--desktop {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  // .filter-title__text
  &__text {
  }
}

.filter-form {
  padding-inline-start: 4px;

  @media (max-width: 1024px) {
    padding: 12px;
    background-color: variables.$color-white;
    border-radius: 16px;
  }

  // .filter-form__field
  &__field {
    &:not(:last-child) {
      margin-block-end: 6px;
    }
  }
}

.filter-field {
  // .filter-field__legend
  &__legend {
    margin-block-end: 2px;
    font-weight: 500;
    font-size: 14px;
  }

  // .filter-field__more
  &__more {
    .filter-field:not(:has(.filter-checkbox:nth-child(4))) &,
    .filter-field:not(.filter-field--expanded):has(
        .filter-checkboxes__item:nth-child(n + 4) .filter-checkbox__input:focus-visible
      )
      & {
      display: none;
    }
  }
}

.filter-checkboxes {
  // .filter-checkboxes__item
  &__item {
    .filter-field:not(
        .filter-field--expanded,
        :has(.filter-checkboxes__item:nth-child(n + 4) .filter-checkbox__input:focus-visible)
      )
      &:nth-child(n + 4) {
      position: absolute;
      inline-size: 1px;
      block-size: 1px;
      margin: -1px;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
      white-space: nowrap;
      border: none;
      outline: none;
      outline-offset: 0;
    }
  }
}

.filter-checkbox {
  // .filter-checkbox__label
  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    inline-size: fit-content;
    min-block-size: 24px;

    .filter-checkbox:has(.filter-checkbox__input:focus-visible) & {
      outline: 2px solid;
      outline-offset: 2px;
    }

    .filter-checkbox:has(.filter-checkbox__input:disabled) & {
      cursor: not-allowed;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .filter-checkbox__icon
  &__icon {
    position: relative;
    isolation: isolate;
    flex: 0 0 auto;
    inline-size: 14px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: rgba($color: variables.$color-b3b3b3, $alpha: 0);
    border: 1.4px solid variables.$color-b3b3b3;
    border-radius: 2px;
    overflow: hidden;

    .filter-checkbox:has(.filter-checkbox__input:checked) & {
      color: variables.$color-32b864;
      border-color: variables.$color-32b864;
    }

    svg {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }

  // .filter-checkbox__text
  &__text {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }

  // .filter-checkbox__value
  &__value {
    .filter-checkbox:has(.filter-checkbox__input:disabled) & {
      color: variables.$color-b3b3b3;
    }
  }

  // .filter-checkbox__count
  &__count {
    color: variables.$color-b3b3b3;
  }

  // .filter-checkbox__input
  &__input {
  }
}

.filter-more {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: variables.$color-989898;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;
  }

  // .filter-more__label
  &__label {
  }

  // .filter-more__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-b3b3b3;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .filter-more:hover & {
        color: inherit;
      }
    }

    svg {
      transform: rotate(90deg);

      .filter-field--expanded & {
        transform: rotate(270deg);
      }

      @include mixins.prefers-reduced-motion {
        transition-property: transform;
        transition-duration: 0.3s;
      }
    }
  }
}

.catalog-main {
  // .catalog-main__title
  &__title {
    margin-block-end: 12px;
  }

  // .catalog-main__top
  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 12px;
    column-gap: 4px;
    margin-block-end: 12px;
  }

  // .catalog-main__show
  &__show {
    margin-inline-start: auto;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  // .catalog-main__pagination
  &__pagination {
    margin-block-start: functions.responsive-value(44, 24);
  }
}

.catalog-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  @media (max-width: 1024px) {
    position: relative;
    isolation: isolate;
    z-index: 5;
    flex: 1 1 100%;
    justify-content: space-between;
  }
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-block-size: 32px;
  padding-block: 4px;
  padding-inline: 6px 8px;
  font-weight: 500;
  font-size: 14px;
  color: variables.$color-1d1d1d;
  background-color: variables.$color-e8e8e8;
  border-radius: 100px;

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-hover;
  }

  @media (min-width: #{1024 + 0.1px}) {
    display: none;
  }

  // .filter-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-4d4d4d;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .filter-button:hover & {
        color: inherit;
      }
    }
  }

  // .filter-button__label
  &__label {
  }
}

.catalog-sort {
  @media (min-width: #{1024 + 0.1px}) {
    position: relative;
    isolation: isolate;
    z-index: 5;
  }
}

.sort-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-block-size: 32px;
  padding-block: 4px;
  padding-inline: 6px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  background-color: variables.$color-e8e8e8;
  border-radius: 100px;

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-hover;
  }

  @media (min-width: #{1024 + 0.1px}) {
    min-block-size: 25px;
  }

  // .sort-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-4d4d4d;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .sort-button:hover & {
        color: inherit;
      }
    }
  }

  // .sort-button__label
  &__label {
  }
}

.sort-form {
  position: absolute;
  inset-block-start: calc(100% + 4px);
  inset-inline-start: 0;
  z-index: 5;
  inline-size: calc(100vw - 20px);
  max-inline-size: 355px;

  &:not(.sort-form--show) {
    visibility: hidden;
    opacity: 0;
  }

  // .catalog-sort > movable-element > & {
  //   @media (max-width: 1024px) {
  //     display: none;
  //   }
  // }

  // .wrapper > movable-element > & {
  //   @media (min-width: #{1024 + 0.1px}) {
  //     display: none;
  //   }
  // }

  @include mixins.prefers-reduced-motion {
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
  }

  @media (max-width: 1024px) {
    inset-inline-start: auto;
    inset-inline-end: 0;

    // position: fixed;
    // inset-block-start: functions.responsive-value(20, 16);
    // inset-inline: 10px;
    // z-index: 125;
    // max-block-size: calc(100% - #{functions.responsive-value(20, 16)} * 2);
    // border-radius: 16px;
    // overflow: auto;
  }

  // @media (min-width: #{1024 + 0.1px}) {
  //   position: absolute;
  //   inset-block-start: calc(100% + 4px);
  //   inset-inline-start: 0;
  //   z-index: 5;
  //   inline-size: calc(100vw - 20px);
  //   max-inline-size: 355px;
  // }

  // .sort-form__top
  &__top {
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    min-block-size: 36px;
    margin-block-end: 4px;
    padding-block: 5px;
    padding-inline: 12px;
    background-color: variables.$color-white;
    border-radius: 100px;

    @media (min-width: #{1024 + 0.1px}) {
      display: none;
    }
  }

  // .sort-form__close
  &__close {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-8f8f8f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .sort-form__inner
  &__inner {
    padding: 12px;
    background-color: variables.$color-white;
    border-radius: 16px;

    &:has(.sort-radio__input:focus-visible) {
      outline: 2px solid;
      outline-offset: 2px;
    }
  }

  // .sort-form__radio
  &__radio {
    &:not(:last-child) {
      margin-block-end: 2px;
    }
  }
}

.sort-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;

  // .sort-title__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-4d4d4d;
  }

  // .sort-title__text
  &__text {
  }
}

.sort-radio {
  // .sort-radio__label
  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    inline-size: fit-content;
    min-block-size: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .sort-radio__icon
  &__icon {
    position: relative;
    isolation: isolate;
    flex: 0 0 auto;
    inline-size: 16px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    border: 1.4px solid variables.$color-b3b3b3;
    border-radius: 50%;

    .sort-radio:has(.sort-radio__input:checked) & {
      border-color: variables.$color-32b864;
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      z-index: -1;
      inline-size: 12px;
      aspect-ratio: 1 / 1;
      background-color: rgba($color: variables.$color-32b864, $alpha: 0);
      border-radius: 50%;
      transform: translate(-50%, -50%);

      .sort-radio:has(.sort-radio__input:checked) & {
        background-color: variables.$color-32b864;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }
  }

  // .sort-radio__text
  &__text {
  }

  // .sort-radio__input
  &__input {
  }
}

.filter-choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;

  @media (max-width: 1024px) {
    flex: 1 1 100%;
  }
}

.filter-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-block-size: 25px;
  padding-block-start: 4px;
  padding-inline: 8px 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: variables.$color-616161;
  border: 1px solid variables.$color-8f8f8f;
  border-radius: 100px;

  // .filter-choice__label
  &__label {
  }

  // .filter-choice__values
  &__values {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.choice-value {
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;

  &:has(+ &) {
    &::after {
      content: ",";
    }
  }

  @media (hover) {
    &:has(.choice-value__remove:hover) {
      color: variables.$color-hover;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }
  }

  // .choice-value__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  // .choice-value__text
  &__text {
  }

  // .choice-value__remove
  &__remove {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-8f8f8f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }
}

.catalog-show {
  // .catalog-show__select
  &__select {
    appearance: none;
    block-size: 25px;
    padding-block: 4px;
    padding-inline: 26px 8px;
    font-weight: 500;
    font-size: 12px;
    background-color: variables.$color-e8e8e8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%238f8f8f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M4.667 6.667 8 10l3.333-3.333'/%3E%3C/svg%3E");
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border-radius: 100px;

    &:open {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%238f8f8f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M11.333 9.333 8 6 4.667 9.333'/%3E%3C/svg%3E");
    }

    &:focus-visible {
      outline: 2px solid;
      outline-offset: 2px;
    }
  }
}

.catalog-products {
}

.catalog-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(functions.responsive-value(288, 172), 1fr));
  gap: 8px;

  // .catalog-products__item
  &__item {
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  padding-block: 8px functions.responsive-value(12, 8, "default", "default", "fixed-both", "px");
  padding-inline: 8px;
  background-color: variables.$color-white;
  border-radius: 16px;
  border: 0.4px solid variables.$color-e8e8e8;

  // .product-card__code
  &__code {
    margin-block-end: 6px;
  }

  // .product-card__slider
  &__slider {
    margin-block-end: 8px;
  }

  // .product-card__title
  &__title {
    margin-block-end: 4px;
    font-weight: 600;
    font-size: functions.responsive-value(16, 14);

    @media (max-width: 1024px) {
      @include mixins.limit-lines(2);
    }

    a {
      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
      }
    }
  }

  // .product-card__made
  &__made {
    margin-block-end: 8px;
  }

  // .product-card__tabs
  &__tabs {
    margin-block-end: functions.responsive-value(4, 8);
  }

  // .product-card__width
  &__width {
    margin-block-end: 16px;
  }

  // .product-card__bottom
  &__bottom {
    margin-block-start: auto;
  }

  // .product-card__actions
  &__actions {
    margin-block-end: 8px;
  }

  // .product-card__buy
  &__buy {
  }

  // .product-card__for
  &__for {
    margin-block-start: 8px;
  }
}

.product-code {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;

  // .product-code__label
  &__label {
    color: variables.$color-616161;
  }

  // .product-code__value
  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 22px;
    padding-block: 4px;
    padding-inline: 6px;
    font-weight: 600;
    color: variables.$color-616161;
    background-color: variables.$color-f5f5f5;
    border-radius: 100px;
  }
}

.product-slider {
  border-radius: 12px;

  // .product-slider__wrapper
  &__wrapper {
    block-size: auto;
  }

  // .product-slider__slide
  &__slide {
    border-radius: 12px;
    aspect-ratio: 272 / 220;
  }

  // .product-slider__pagination
  &__pagination {
    margin-block-start: functions.responsive-value(8, 6);
  }
}

.product-made {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: functions.responsive-value(12, 10);

  // .product-made__brand
  &__brand {
    color: variables.$color-616161;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .product-made__country
  &__country {
    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.product-tabs {
  // .product-tabs__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-block-end: 4px;
    padding: 2px;
    background-color: variables.$color-e8e8e8;
    border-radius: 8px;

    @media (min-width: #{1024 + 0.1px}) {
      display: none;
    }
  }

  // .product-tabs__button
  &__button {
    flex: 1 1 auto;
    padding: 3px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    white-space: nowrap;
    color: variables.$color-616161;
    background-color: rgba($color: variables.$color-white, $alpha: 0);
    border-radius: 6px;
    border: 1px solid variables.$color-e8e8e8;

    &[data-active] {
      color: variables.$color-141414;
      background-color: variables.$color-white;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-141414;
      background-color: variables.$color-white;
    }
  }

  // .product-tabs__regions
  &__regions {
  }

  // .product-tabs__region
  &__region {
    &:not(:last-child) {
      @media (min-width: #{1024 + 0.1px}) {
        margin-block-end: 4px;
      }
    }

    &:not([data-active]) {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.product-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  color: variables.$color-616161;

  // .product-price__label
  &__label {
    font-size: 14px;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  // .product-price__values
  &__values {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: functions.responsive-value(16, 14);

    @media (min-width: #{1024 + 0.1px}) {
      margin-inline-start: auto;
    }
  }

  // .product-price__old
  &__old {
    text-decoration: line-through;
  }

  // .product-price__current
  &__current {
    font-weight: 600;
    color: variables.$color-black;
  }
}

.product-width {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;

  // .product-width__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 22px;
    padding-block: 4px;
    padding-inline: 8px;
    font-size: 12px;
    color: variables.$color-616161;
    border-radius: 100px;
    background: variables.$color-f5f5f5;
  }
}

.product-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.product-action {
  display: flex;
  align-items: center;
  gap: functions.responsive-value(2, 0);
  font-size: functions.responsive-value(12, 10);

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;
  }

  // .product-action__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-8f8f8f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .product-action:hover & {
        color: inherit;
      }
    }
  }

  // .product-action__label
  &__label {
  }
}

.product-buy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  // .product-buy__button
  &__button {
    --outline-color: #{variables.$color-32b864};

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100 0 auto;
    min-block-size: 32px;
    padding-block: 5px;
    padding-inline: 12px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-32b864;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-hover-dark;
    }
  }

  // .product-buy__one
  &__one {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: variables.$color-141414;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.product-for {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: functions.responsive-value(12, 10);
  color: variables.$color-616161;

  // .product-for__text
  &__text {
  }

  // .product-for__link
  &__link {
    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.catalog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  @media (min-width: #{340 + 0.1px}) {
    gap: functions.responsive-value(48, 24);
  }

  // .catalog-pagination__arrow
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    inline-size: functions.responsive-value(36, 32, 340, 280, "fixed-start-value", "px");
    aspect-ratio: 1 / 1;
    color: variables.$color-b3b3b3;
    background-color: variables.$color-white;
    box-shadow: 0 2px 8px 0 rgba(16, 24, 40, 0.04);
    border: 0.4px solid variables.$color-f2f2f2;
    border-radius: 50%;

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-white;
      background-color: variables.$color-hover;
    }

    // .catalog-pagination__arrow--prev
    &--prev {
      svg {
        transform: rotate(180deg);
      }
    }

    // .catalog-pagination__arrow--next
    &--next {
    }
  }
}

.pagination-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  // .pagination-pages__item
  &__item {
    flex: 0 0 auto;
  }

  // .pagination-pages__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    inline-size: functions.responsive-value(36, 32, 340, 280, "fixed-start-value", "px");
    aspect-ratio: 1 / 1;
    font-weight: 500;
    font-size: 14px;
    color: variables.$color-8f8f8f;
    background-color: variables.$color-white;
    border: 0.4px solid variables.$color-f2f2f2;
    border-radius: 50%;

    &:not([href]) {
      cursor: default;
    }

    &[href] {
      @include mixins.prefers-reduced-motion {
        transition-property: color, background-color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-white;
        background-color: variables.$color-hover;
      }
    }

    // .pagination-pages__link--current
    &--current {
      color: variables.$color-black;
    }
  }
}
