@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.catalog {
  padding-block: functions.responsive-value(8, 16) functions.responsive-value(16, 20);

  // .catalog__inner
  &__inner {
    display: grid;
    grid-template-columns: 166px 1fr;
    gap: 16px;
    align-items: start;
  }
}

.filter {
  padding-block-start: 4px;

  // .filter__top
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-block-end: functions.responsive-value(8, 6);
  }

  // .filter__close
  &__close {
    display: none;
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-8f8f8f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.filter-title {
  display: flex;
  align-items: center;
  gap: functions.responsive-value(8, 4);
  font-weight: 500;
  font-size: functions.responsive-value(18, 14);
  line-height: 1.56;
  color: variables.$color-1d1d1d;

  // .filter-title__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-black;

    // .filter-title__icon--mobile
    &--mobile {
      display: none;
    }

    // .filter-title__icon--desktop
    &--desktop {
    }
  }

  // .filter-title__text
  &__text {
  }
}

.filter-form {
  padding-inline-start: 4px;

  // .filter-form__field
  &__field {
    &:not(:last-child) {
      margin-block-end: 6px;
    }
  }
}

.filter-field {
  // .filter-field__legend
  &__legend {
    margin-block-end: 2px;
    font-weight: 500;
    font-size: 14px;
  }

  // .filter-field__more
  &__more {
    .filter-field:not(:has(.filter-checkbox:nth-child(4))) &,
    .filter-field:not(.filter-field--expanded):has(
        .filter-checkboxes__item:nth-child(n + 4) .filter-checkbox__input:focus-visible
      )
      & {
      display: none;
    }
  }
}

.filter-checkboxes {
  // .filter-checkboxes__item
  &__item {
    .filter-field:not(
        .filter-field--expanded,
        :has(.filter-checkboxes__item:nth-child(n + 4) .filter-checkbox__input:focus-visible)
      )
      &:nth-child(n + 4) {
      position: absolute;
      inline-size: 1px;
      block-size: 1px;
      margin: -1px;
      padding: 0;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
      white-space: nowrap;
      border: none;
      outline: none;
      outline-offset: 0;
    }
  }
}

.filter-checkbox {
  // .filter-checkbox__label
  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    inline-size: fit-content;
    min-block-size: 24px;

    .filter-checkbox:has(.filter-checkbox__input:focus-visible) & {
      outline: 2px solid;
      outline-offset: 2px;
    }

    .filter-checkbox:has(.filter-checkbox__input:disabled) & {
      cursor: not-allowed;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .filter-checkbox__icon
  &__icon {
    position: relative;
    isolation: isolate;
    flex: 0 0 auto;
    inline-size: 14px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: rgba($color: variables.$color-b3b3b3, $alpha: 0);
    border: 1.4px solid variables.$color-b3b3b3;
    border-radius: 2px;
    overflow: hidden;

    .filter-checkbox:has(.filter-checkbox__input:checked) & {
      color: variables.$color-32b864;
      border-color: variables.$color-32b864;
    }

    svg {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }

  // .filter-checkbox__text
  &__text {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }

  // .filter-checkbox__value
  &__value {
    .filter-checkbox:has(.filter-checkbox__input:disabled) & {
      color: variables.$color-b3b3b3;
    }
  }

  // .filter-checkbox__count
  &__count {
    color: variables.$color-b3b3b3;
  }

  // .filter-checkbox__input
  &__input {
  }
}

.filter-more {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: variables.$color-989898;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;
  }

  // .filter-more__label
  &__label {
  }

  // .filter-more__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-b3b3b3;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .filter-more:hover & {
        color: inherit;
      }
    }

    svg {
      transform: rotate(90deg);

      .filter-field--expanded & {
        transform: rotate(270deg);
      }

      @include mixins.prefers-reduced-motion {
        transition-property: transform;
        transition-duration: 0.3s;
      }
    }
  }
}

.catalog-main {
  // .catalog-main__title
  &__title {
    margin-block-end: 12px;
  }

  // .catalog-main__top
  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    margin-block-end: 12px;
  }

  // .catalog-main__show
  &__show {
    margin-inline-start: auto;
  }
}

.catalog-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.filter-button {
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-block-size: 32px;
  padding-block: 4px;
  padding-inline: 6px 8px;
  font-weight: 500;
  font-size: 14px;
  color: variables.$color-1d1d1d;
  background-color: variables.$color-e8e8e8;
  border-radius: 100px;

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-hover;
  }

  // .filter-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-4d4d4d;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .filter-button:hover & {
        color: inherit;
      }
    }
  }

  // .filter-button__label
  &__label {
  }
}

.catalog-sort {
  position: relative;
  isolation: isolate;

  // .catalog-sort__form
  &__form {
    position: absolute;
    inset-block-start: calc(100% + 4px);
    inset-inline-start: 0;
    z-index: 5;
    inline-size: calc(100vw - 20px);
    max-inline-size: 355px;

    &:not(.sort-form--show) {
      visibility: hidden;
      opacity: 0;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: visibility, opacity;
      transition-duration: 0.3s;
    }
  }
}

.sort-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-block-size: 25px;
  padding-block: 4px;
  padding-inline: 6px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  background-color: variables.$color-e8e8e8;
  border-radius: 100px;

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-hover;
  }

  // .sort-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-4d4d4d;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .sort-button:hover & {
        color: inherit;
      }
    }
  }

  // .sort-button__label
  &__label {
  }
}

.sort-form {
  // .sort-form__top
  &__top {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    min-block-size: 36px;
    margin-block-end: 4px;
    padding-block: 5px;
    padding-inline: 12px;
    background-color: variables.$color-white;
    border-radius: 100px;
  }

  // .sort-form__close
  &__close {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-8f8f8f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .sort-form__inner
  &__inner {
    padding: 12px;
    background-color: variables.$color-white;
    border-radius: 16px;

    &:has(.sort-radio__input:focus-visible) {
      outline: 2px solid;
      outline-offset: 2px;
    }
  }

  // .sort-form__radio
  &__radio {
    &:not(:last-child) {
      margin-block-end: 2px;
    }
  }
}

.sort-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;

  // .sort-title__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-4d4d4d;
  }

  // .sort-title__text
  &__text {
  }
}

.sort-radio {
  // .sort-radio__label
  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    inline-size: fit-content;
    min-block-size: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .sort-radio__icon
  &__icon {
    position: relative;
    isolation: isolate;
    flex: 0 0 auto;
    inline-size: 16px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    border: 1.4px solid variables.$color-b3b3b3;
    border-radius: 50%;

    .sort-radio:has(.sort-radio__input:checked) & {
      border-color: variables.$color-32b864;
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      z-index: -1;
      inline-size: 12px;
      aspect-ratio: 1 / 1;
      background-color: rgba($color: variables.$color-32b864, $alpha: 0);
      border-radius: 50%;
      transform: translate(-50%, -50%);

      .sort-radio:has(.sort-radio__input:checked) & {
        background-color: variables.$color-32b864;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }
  }

  // .sort-radio__text
  &__text {
  }

  // .sort-radio__input
  &__input {
  }
}

.filter-choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.filter-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-block-size: 25px;
  padding-block-start: 4px;
  padding-inline: 8px 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: variables.$color-616161;
  border: 1px solid variables.$color-8f8f8f;
  border-radius: 100px;

  // .filter-choice__label
  &__label {
  }

  // .filter-choice__values
  &__values {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.choice-value {
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;

  &:has(+ &) {
    &::after {
      content: ",";
    }
  }

  @media (hover) {
    &:has(.choice-value__remove:hover) {
      color: variables.$color-hover;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }
  }

  // .choice-value__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  // .choice-value__text
  &__text {
  }

  // .choice-value__remove
  &__remove {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-8f8f8f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }
}

.catalog-show {
  // .catalog-show__select
  &__select {
    appearance: none;
    block-size: 25px;
    padding-block: 4px;
    padding-inline: 26px 8px;
    font-weight: 500;
    font-size: 12px;
    background-color: variables.$color-e8e8e8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%238f8f8f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M4.667 6.667 8 10l3.333-3.333'/%3E%3C/svg%3E");
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border-radius: 100px;

    &:open {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%238f8f8f' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4' d='M11.333 9.333 8 6 4.667 9.333'/%3E%3C/svg%3E");
    }

    &:focus-visible {
      outline: 2px solid;
      outline-offset: 2px;
    }
  }
}
